body {
    background-color: rgb(50, 50, 50);
    color: azure;
    margin: 0;
    height: 100vh;
    transition: background-color 1.5s ease-in-out;
}

@keyframes fadeBackground {
    from {
        background-color: inherit;
    }
    to {
        background-color: inherit;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

#pInitial {
    font-size: 28px;
    max-width: 700px;
    line-height: 1.5;
}